<include file="Public:doctype"/>
<html>
	<head>
		<include file="Public:baseHead"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/details.css?version={$version}">
	</head>
	<body style="visibility:hidden;">
		<!--顶部轮播图-->
		<include file="Public:top_banner"/>
		<!--顶部轮播图-->
		
		<div class="sc_details_box">
			<div class="details_content">
				<div class="intro">
					{$rule}
				</div>
				<div style="height:0.4rem"></div>
			</div>
		</div>
		
		<!-- 底部栏start -->
		<include file="Public:bottom"/>
		<!-- 底部栏end -->

	</body>
</html>
